.App {
  text-align: center;
  margin: 5rem;
}

.header {
  margin-bottom: 3rem;
}

.slider {
  overflow: hidden;
}

.slider-left {
  float: left;
}

.slider-right {
  float: right;
}

.loop-input {
  overflow: hidden;
}

p {
  margin-bottom: 0.5rem;
  font-size: 15px;
}

.dp-table {
  margin-top: 2rem;
  margin-left: 2rem;
  width: 73vw;
  overflow: auto;
}

.sidebar {
  position: sticky;
  top: 3rem;
}
