.App {
  text-align: center;
  margin: 2rem;
}

.header {
  margin-bottom: 1rem;
}

.slider-left {
  float: left;
}

.slider-right {
  float: right;
}

p {
  font-size: 15px;
}

.dp-table {
  margin-left: 2rem;
  width: 75vw;
  overflow: auto;
  margin-top: 1rem;
}

.sidebar {
  position: sticky;
  top: 2rem;
}
