.App {
  text-align: center;
  margin: 0 2rem;
}

.header:first-child { /* added the :first-child so this takes priority over semantic ui styles */
  margin: 1.5rem 0;
  flex: none !important; /* override semantic ui styles for children of stretched columns*/
}

.slider-left {
  float: left;
}

.slider-right {
  float: right;
}

p {
  font-size: 15px;
}

.right-column {
  flex: 1;
  height: 100vh;
}

.dp-table {
  margin-left: 2rem;
  width: 75vw;
  overflow: auto;
  margin-top: 1rem;
}

.top-header-cell {
  position: sticky;
  top: 0;
  z-index: 1;
}

.top-header-cell.second-row {
  top: 45px; /* hardcoded height of header row */
}

.left-header-cell {
  position: sticky;
  left: 0;
  background-color: #f7f7f7 !important; /* override semantic ui so that background isn't transparent */
}

.sidebar {
  position: sticky;
  top: 2rem;
}